In [1]:
import pandas as pd

In [2]:
events = pd.read_csv("events_ful.csv", header=None)
events.drop(5, axis=1, inplace=True)
events.columns = ['account', 'order', 'date', 'source', 'details', 'event', 'churn']
events.head()

    account     order        date source    details    event  churn
0  150-3302  order:UP  2012-03-05   user  Order: UP  2859969      0
1  150-3302  order:DW  2011-07-19   user  Order: DW  2859970      0
2  150-3302  order:IN  2011-05-04   user  Order: IN  2859971      0
3  150-3302  order:NP  2015-07-01   user  Order: NP  2859972      0
4  150-3302  order:UP  2013-08-20   user  Order: UP  2859973      0

In [3]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650734 entries, 0 to 650733
Data columns (total 7 columns):
account    650734 non-null object
order      650734 non-null object
date       650734 non-null object
source     650734 non-null object
details    650734 non-null object
event      650734 non-null int64
churn      650734 non-null int64
dtypes: int64(2), object(5)
memory usage: 34.8+ MB

In [ ]:
events.